.nrml{
    background: linear-gradient(135deg, #2a9d8f, #a0e8de); 
    text-align: center;
    color: #073b4c;
}


.rasi, .vishaka, .krisha, .play{
  text-align: center;
}

img{
  float: right;
}

body {
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    background-color: #0b0c10;
    color: white;
}


